container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python website/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python website/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python website/manage.py collectstatic --noinput"
  04_addg3players:
    command: "source /opt/python/run/venv/bin/activate && python website/manage.py addg3players"
    leader_only: true
  