{% extends "fantasy_draft/header_footer.html" %}
{% load compress %}
{% load staticfiles %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-3 bordered border-left">
            <p><h1>New league</h1></p>
        </div>
        <div class="col-3 bordered border-right">
            <p><h1>Join a league</h1></p>
        </div>
    </div>
    <div class="row border-bottom">
        <!-- Create a league -->
        <div class="col-3 bordered border-left">
            {% if error_msg %}
            <span style="color: red"><strong>{{ error_msg }}</strong></span>
            {% endif %}
            
            <h2>Enter a name for your {{ t_name }} league!</h2>
    
            <form method="post" action="{% url 'fantasy_draft:create_league' t_id=t_id %}">
                {% csrf_token %}
        
                <label>{{ league_form.name.label }}</label>&nbsp;
                {{ league_form.name }}<br><br>
                
                <h2>Customize your {{ t_name }} league!</h2>
                
                <label>{{ league_form.number_of_picks.label }}</label>&nbsp;
                {{ league_form.number_of_picks }}<br><br>
                
                <label>{{ league_form.random_order.label }}</label>&nbsp;
                {{ league_form.random_order }}<br><br>
                
                <label>{{ league_form.snake_style.label }}</label>&nbsp;
                {{ league_form.snake_style }}<br><br>
        
                <input id="creation-submit" class="hipster-btn" type="submit" value="Required fields left blank!" disabled />
            </form>
        </div>
        
        <!-- Join a league -->
        <div class="col-3 bordered border-right">
            <p>
                {% if user.invites_received.count > 0 %}
                <h2>Open invitations</h2>
                <ul>
                    {% for invitation in user.invites_received.all %}
                        {% if invitation.status == "UNA" %}
                        <li>
                            {{ invitation.league }}, sent by {{ invitation.sender }} on {{ invitation.date_issued }}&nbsp;
                            <!-- Accept?... -->
                            <form style="display: inline" method="post" action="{% url 'fantasy_draft:accept' i_id=invitation.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Accept" />
                            </form>
                        
                            <!-- ...or decline? -->
                            <form style="display: inline" method="post" action="{% url 'fantasy_draft:decline' i_id=invitation.id %}?next={% firstof request.path '/' %}">
                                {% csrf_token %}
                                <input type="submit" value="Decline" />
                            </form>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                You have no open invitations.
                {% endif %}
            </p>
        </div> 
    </div> 
</div>

<script type="text/javascript">
    // Ensure that the league creation form is valid
    $(function() {
        $('#id_name, #id_number_of_picks').keyup(function() {
            if ($('#id_name').val() && $('#id_number_of_picks').val()) {
                $('#creation-submit').prop("disabled", false);
                $('#creation-submit').prop("value", "Create league");
                $('#creation-submit').css({
                    "background-color": "#5cb85c",
                    "cursor": "pointer"
                });
            } else {
                $('#creation-submit').prop("disabled", true);
                $('#creation-submit').prop("value", "Required fields left blank!");
                $('#creation-submit').css({
                    "background-color": "#000000",
                    "cursor": "default"
                });
            }
        });
    });
</script>
{% endblock %}
