{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Fantasy SSBM (aka Fantasy Melee) enables the creation and management of Super Smash Bros: Melee fantasy leagues. Form a league with your friends and follow the progress of major tournament seasons!" />
    <meta name="google-site-verification" content="VfPz4JJr7MOlhTmMxavva7g4krVyhqzC_b1s05nPz4c" />
    <title>Fantasy SSBM</title>

    {% block favicon %}
    <link rel="shortcut icon" type="image/png" href="{% static "fantasy_draft/images/favicon.ico" %}" />
    {% endblock %}

    {% block stylesheets %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/broganband.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/responsive_text.css" %}" media="screen"/>
    {% endcompress %}
    {% endblock %}
    
    {% block javascript %}
    {% endblock %}
</head>
<body>
    <header id="header-wrapper">
        <ul class="nav">
            <li class="header-section">
                <a href="{% url 'fantasy_draft:index' %}" class="h-item">Main</a>
            </li>
            <li class="header-section">
                <a href="{% url 'fantasy_draft:player_rankings' %}" class="h-item">Player Rankings</a>
            </li>
            <li class="header-section">
                <a href="{% url 'fantasy_draft:leagues' %}" class="h-item">Manage Leagues</a>
            </li>
            <li class="header-section">
                <a href="{% url 'fantasy_draft:info' %}" class="h-item">Information</a>
            </li>
            <li class="header-section">
                {% if user.is_authenticated %}
                <span class="h-item">
                    <a href="{% url 'fantasy_draft:profile' %}" id="username">{{ user.username }}</a> (<a href="{% url 'fantasy_draft:user_logout' %}?next={% firstof request.path '/' %}">Logout</a>)
                    {% else %}
                    <a href="{% url 'fantasy_draft:login' %}" class="h-item">Login/Register</a>
                </div>
                {% endif %}
            </li> <!-- /header-section -->
        </ul><!-- /nav -->
    </header><!-- /header-wrapper -->
    
    <div id="main-content-wrapper">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
