{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Fantasy SSBM (aka Fantasy Melee) enables the creation and management of Super Smash Bros: Melee fantasy leagues. Form a league with your friends and follow the progress of major tournament seasons!" />
    <meta name="google-site-verification" content="VfPz4JJr7MOlhTmMxavva7g4krVyhqzC_b1s05nPz4c" />
    <title>Fantasy SSBM</title>

    {% block favicon %}
    <link rel="shortcut icon" type="image/png" href="{% static "fantasy_draft/images/favicon.ico" %}" />
    {% endblock %}

    {% block stylesheets %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/broganband.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/responsive_text.css" %}" media="screen"/>
    {% endcompress %}
    {% endblock %}
    
    {% block javascript %}
    {% endblock %}
</head>
<body>
    <header id="header-wrapper">
        <ul class="nav">
            <li class="header-section">
                <a href="{% url 'fantasy_draft:index' %}" class="h-item">Main</a>
            </li>
            <li class="header-section">
                <a href="{% url 'fantasy_draft:player_rankings' %}" class="h-item">Player Rankings</a>
            </li>
            <li class="header-section">
                <a href="{% url 'fantasy_draft:leagues' %}" class="h-item">Manage Leagues</a>
            </li>
            <li class="header-section">
                <a href="{% url 'fantasy_draft:info' %}" class="h-item">Information</a>
            </li>
            <li class="header-section">
                {% if user.is_authenticated %}
                <span class="h-item">
                    <a href="{% url 'fantasy_draft:profile' %}" id="username">{{ user.username }}</a> (<a href="{% url 'fantasy_draft:user_logout' %}?next={% firstof request.path '/' %}">Logout</a>)
                    {% else %}
                    <a href="{% url 'fantasy_draft:login' %}" class="h-item">Login/Register</a>
                </div>
                {% endif %}
            </li> <!-- /header-section -->
        </ul><!-- /nav -->
    </header><!-- /header-wrapper -->
    
    <div id="main-content-wrapper">
    {% block content %}
    {% endblock %}
    </div>

    <footer id="footer-wrapper">
        <!-- Top portion of the footer -->
        <div id="footer-top-wrapper">
            <div id="footer-top">
                <!-- Left half of the top row -->
                <div class="top-row">
                    <div class="top-row-title"><span>About</span></div>
                    <div class="top-row-info">
                          <p>This is a website tailored to manage Super Smash Bros: Melee fantasy drafts and leagues for the duration of major tournament seasons. The concept is simple: form a league with your friends and choose 1-10 players for your draft. At the end of each tournament, everyone will receive points based on how well their players performed. Come the season's finish, the person with the highest number of points wins!
                              <br><br>
                              For further details (including the tournament season listings), take a look at the <a href="{% url 'fantasy_draft:info' %}">Information</a> page.
                          </p>
                    </div>
                </div>
                
                <!-- Right half of the top row -->
                <div class="top-row">
                    <div class="top-row-title"><span>Contact</span></div>
                    <div class="top-row-info">
                        <p>Want to contribute – or complain? If you need someone to talk to (preferably about this website), feel free to contact the following site administrators:
                            <br><br>
                            <b>Owen Jow</b><br>
                            <a href="mailto:owen.jow01@gmail.com">owen.jow01@gmail.com</a><br>
                        </p>
                    </div><!-- /top-row-info -->
                </div><!-- /top-row -->
            </div><!-- /footer-top -->
        </div><!-- /footer-top-wrapper -->
        
        <!-- Bottom portion of the footer -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom">
                <div id="last-updated">
                    Last updated January 14th, 2016 by <span class="gray">ohjay</span>
                </div><!-- /last-updated -->
            </div><!-- /footer-bottom -->
        </div><!-- /footer-bottom-wrapper -->
    </footer><!-- /footer-wrapper -->
</body>
</html>
