{% extends "fantasy_draft/header_footer.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/index.css" %}" media="screen"/>
<link rel="stylesheet" href="{% static "fantasy_draft/flipclock/compiled/flipclock.css" %}"/>
{% endcompress %}
{% endblock %}

{% block javascript %}
{% compress js %}
<script src="{% static "fantasy_draft/js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "fantasy_draft/flipclock/compiled/flipclock.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
{% if message %}
<span id="message">{{ message }}</span>
{% endif %}

<!-- Countdown to next tournament -->
<div style="text-align: center">    
    <div class="opaque" style="display: inline-block">
        <div class="clock"></div>
    </div>
</div>

<!-- Display text -->
<p class="center-text">    
    GENESIS 3 : January 15, 2016
</p>

<!-- Clock script -->
<script type="text/javascript">
	var clock;
	$(document).ready(function() {
        var currentDate = new Date();
        
        // Current tournament: GENESIS 3; next tournament: BEAST 6 (2/18)
        var futureDate  = new Date("January 15, 2016 0:00:00");
        
		// Calculate the difference in seconds between the future and current date
		var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
			clock = $('.clock').FlipClock(diff, {
			clockFace: 'DailyCounter',
			countdown: true
		});
	});
</script>
{% endblock %}
