{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right header">
            <p><h1>Fantasy SSBM Info</h1></p>
        </div>
    </div>
    <div class="row bordered border-bottom">
        <div class="col-3 bordered border-left">
            <p>
                <h2><u>Getting Started</u></h2>
                Available to the Public
                <ul style="list-style-type: lower-greek">
                    <li><i>To see a countdown to the next major tournament</i>, click <a href="{% url 'fantasy_draft:index' %}">here</a>.</li>
                    <li><i>To view an objective ranking of players</i>, click <a href="{% url 'fantasy_draft:player_rankings' %}">here</a>.</li>
                </ul>
                
                Available to Users Only
                <ul style="list-style-type: lower-greek">
                    <li><i>To create and edit leagues</i>, click <a href="{% url 'fantasy_draft:leagues' %}">here</a>.</li>
                    <li><i>To login to an existing account</i>, click <a href="{% url 'fantasy_draft:login' %}">here</a>.</li>
                    <li><i>To create a new account</i>, click <a href="{% url 'fantasy_draft:register' %}">here</a>.</li>
                </ul>
            </p>
        </div> 
        <div class="col-3 bordered border-right">
            <p>
                <h2><u>Season Listings</u></h2>
                2015 Season 1 [01/01/2016 &ndash; 06/30/2016]
                <ul style="list-style-type: lower-greek">
                    <li>Genesis 3 [01/15 &ndash; 01/17]</li>
                    <li>BEAST 6 [02/19 &ndash; 02/21]</li>
                    <li>Pound 2016 [04/02 &ndash; 04/03]</li>
                    <li>DreamHack Austin [05/06 &ndash; 05/08]</li>
                    <li>CEO 2016 [06/24 &ndash; 06/26]</li>
                </ul>
                
                2015 Season 2 [07/01/2016 &ndash; 12/31/2016]
                <ul style="list-style-type: lower-greek">
                    <li>EVO 2016 [07/15 &ndash; 07/17]</li>
                    <li>Super Smash Con [08/11 &ndash; 08/14]</li>
                    <li>The Big House 6 [10/??]</li>
                    <li>DreamHack Winter [11/24 &ndash; 11/27]</li>
                </ul>
            </p>
        </div> 
    </div> 
</div>
{% endblock %}
