{% extends "fantasy_draft/header.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/league_detail.css" %}" media="screen" />
{% endcompress %}
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row">
        <div class="col-6 header">
            <p><h1>{{ league.name }}</h1></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>
                Tournament: {{ league.tournament }}<br>
                Created on {{ league.date_created }} by {{ league.creator }}.
            </p>
        </div>
    </div>
    {% if league.phase != 'PRE' %}
    <div class="row">
        
        <!-- ========== DRAFT DISPLAYS ========== -->
        
        <div class="col-4" id="col-container">
            <p id="draft-header">Drafts</p><br>
            
            {% if draft_scores %} <!-- results published -->
            {% for draft, player_placings, score, bid in draft_scores %}
                {% if forloop.counter0|divisibleby:2 %}
                <div class="row">
                {% endif %}
            
                {% if forloop.counter0|divisibleby:2 and forloop.last %}
                <div class="col-6">
                {% else %}
                <div class="col-2">
                {% endif %}
                    <p>
                        {{ draft.user }}'s draft (-{{ bid }}):<br>
                        Score: {{ score }}
                    </p>
                    <ul class="centered player-list">
                        {% for player, placing in player_placings %}
                        <li>{{ player }} ({{ placing }})</li>
                        {% endfor %}
                    </ul>
                </div>
            
                {% if not forloop.counter0|divisibleby:2 or forloop.last %}
                </div>
                {% endif %}
            {% endfor %}
        
            {% else %} <!-- results not published yet -->
                {% if draft_data %} <!-- bids -->
                {% for draft, bid in draft_data %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="row">
                    {% endif %}
                    
                    {% if forloop.counter0|divisibleby:2 and forloop.last %}
                    <div class="col-6">
                    {% else %}
                    <div class="col-2">
                    {% endif %}
                        <p>{{ draft.user }}'s draft (-{{ bid }}):</p>
                
                        {% if draft.players.count > 0 %}
                        <ul class="centered player-list">
                            {% for player in draft.players.all %}
                            <li>{{ player }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div style="text-align: center; margin-top: 0.75vh;">There are no players in this draft.</div>
                        {% endif %}
                    </div>
                    
                    {% if not forloop.counter0|divisibleby:2 or forloop.last %}
                    </div>
                    {% endif %}
                {% endfor %}
    
                {% else %} <!-- no bids -->
                {% for draft in league.draft_set.all %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="row">
                    {% endif %}
                    
                    {% if forloop.counter0|divisibleby:2 and forloop.last %}
                    <div class="col-6">
                    {% else %}
                    <div class="col-2">
                    {% endif %}
                        <p>{{ draft.user }}'s draft:</p>
                
                        {% if draft.players.count > 0 %}
                        <ul class="centered player-list">
                            {% for player in draft.players.all %}
                            <li>{{ player }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div style="text-align: center; margin-top: 0.75vh;">There are no players in this draft.</div>
                        {% endif %}
                    </div>
                    
                    {% if not forloop.counter0|divisibleby:2 or forloop.last %}
                    </div>
                    {% endif %}
                {% endfor %}
    
                {% endif %}
        
            {% endif %}
        </div>
        
        {% if league.phase != 'COM' %}
        <div class="col-2">
            
            <!-- ========== BIDDING SELECTION BOX ========== -->
            
            {% if league.phase == 'BID' %}
                {% if user.is_authenticated and user == next_user %}
                    <p style="background-color: #67c8ff; padding: 3px;">
                        <u><span class="big-jura">It's your turn to bid!</span></u><br>
                        You're bidding for {{ auction_ordinal }} pick.<br>
                        The high bid is currently {{ high_bid }}, made by {{ high_bidder }}.
                    </p><br>
                        
                    There are {{ temp_orders.count }} users still "in" for this bidding round:
                    <ul class="aligned">
                        {% for o in temp_orders %}
                        <li>{{ o.user }}</li>
                        {% endfor %}
                    </ul>
                    
                    <div class="rect-div"></div>
                    
                    {% if final_orders.count == 0 %}
                        No order has been determined yet.
                    {% else %}
                    <ol class="aligned">
                        Currently, the order is:
                        
                        {% for o in final_orders %}
                        <li>{{ o.user }} ({{ o.number }})</li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                    
                    <br><br>
                    
                    <form method="post" action="{% url 'fantasy_draft:bid' league_id=league.id %}?next={% firstof request.path '/' %}">
                        {% csrf_token %}
                        What's your bid?&nbsp; <input id="bid-input" type="number" name="bid" value="" placeholder="Insert bid here..." />&nbsp; 
                        <span id="submit-bid"></span>
                    </form>
                    
                    <form method="post" action="{% url 'fantasy_draft:drop_out' league_id=league.id on_auction=on_auction %}?next={% firstof request.path '/' %}">
                        {% csrf_token %}
                        Or you can drop out...&nbsp; <input type="submit" value="Fold" />&nbsp; 
                    </form>
                {% else %}
                    <p style="background-color: #67c8ff; padding: 3px;">
                        <u>It's the bidding phase!</u><br>
                        We're bidding for {{ auction_ordinal }} pick.<br>
                    </p>
                    
                    <div style="margin: 1vh 0">The next user to bid is {{ next_user }} and the high bid is currently {{ high_bid }}, made by {{ high_bidder }}.</div>
                    
                    <div class="rect-div"></div>
                        
                    <ol class="aligned">
                        {% if final_orders.count == 0 %}
                            No order has been determined yet.
                        {% else %}
                            Currently, the order is:
                            
                            {% for o in final_orders %}
                            <li>{{ o.user }} ({{ o.number }})</li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                {% endif %}
                
            <!-- ========== PLAYER SELECTION BOX ========== -->
            
            {% elif league.phase == 'SEL' %}
                {% if ordinal %}
                    {% if user == next_user %}
                    <p style="background-color: #67c8ff; padding: 3px;">
                        <u><span class="big-jura">It's your turn to pick!</span></u><br>
                        (You have {{ ordinal }} pick.)
                    </p>
                    
                    <div style="text-align: center; margin: 1vh 0;">
                        Select a player:&nbsp; <input type="text" id="name_input" name="name_input" autocomplete="off" placeholder="Player name here..." />
                    </div>
                    
                    <div class="search-results" style="text-align: center">
                        {% if invite_sent %}
                        <span>Invitation successfully sent!</span>
                        {% else %}
                        <span>No players found.</span>
                        {% endif %}
                    </div>
                    
                    {% else %}
                    <p>
                        <u>It's {{ next_user }}'s turn to pick!</u><br>
                        You have {{ ordinal }} pick. Go harass {{ next_user}} on all forms of social media.
                    </p>
                    
                    {% endif %}
                {% else %}
                <p>
                    <u>It's {{ next_user }}'s turn to pick!</u><br>
                    Go harass {{ next_user }} on all forms of social media.
                </p>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% else %}
        <!-- Indent for visual effect -->
        <div class="row">
            <div class="col-6">
                <p>
                    Users currently part of this league:
                </p>
                <ul class="centered">
                    {% for u in league.userprofile_set.all %}
                    <li>{{ u }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- ========== USER INVITATION SECTION ========== -->
        
        <div class="row">
            <div class="col-6" style="text-align: center">
                {% if league.userprofile_set.count >= max_user_ct %}
                <p>The league is full! No more players will be allowed to join.</p>
            
                {% elif user.is_authenticated and league.creator == user %}
                <p>
                    Invite users to join your league:&nbsp;
                    <input type="text" id="name_input" maxlength="50" size="30" name="name_input" autocomplete="off" placeholder="Search for a user..." />
                </p>
                <div class="search-results" style="text-align: center">
                    {% if invite_sent %}
                    <span>Invitation successfully sent!</span>
                    {% else %}
                    <span>No users found.</span>
                    {% endif %}
                </div>
                
                {% else %}
                    <!-- Indent for aesthetics -->
                    You don't have permission to add users to the league!
                    {% if in_league %}
                    <form style="margin-top: 1vh" method="post" action="{% url 'fantasy_draft:leave' league_id=league.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Leave" />
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        
        <!-- ========== ACTIVATION SECTION ========== -->
        
        {% if user.is_authenticated and league.creator == user %}
        <div class="row">
            <div class="col-6" style="text-align: center">
                {% if league.userprofile_set.count < 2 %}
                [Activation disabled] Before you activate the league, you'll have to let some other users join.
                {% else %}
                Activate the league (warning: this will lock in all players). 
                <form style="text-align: center; margin-top: 1vh" method="post" action="{% url 'fantasy_draft:activate' league_id=league.id %}?next={% firstof request.path '/' %}">
                    {% csrf_token %}
                    <input type="submit" value="Activate" />
                </form>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

{% compress js %}
{% if league.phase == 'PRE' or league.phase == 'SEL' %}
<script type="text/javascript">
    // Ajax live search
    $(function() {
        $('#name_input').keyup(function() {
            $.ajax({
                type: "GET",
                {% if league.phase == 'PRE' %}
                url: "/user_search/" + getLeagueId(window.location.href),
                {% else %}
                url: "/player_search/" + getLeagueId(window.location.href),
                {% endif %}
                data: {
                    'name_input': $('#name_input').val(),
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                success: liveUpdate,
                dataType: 'html'
            });
        });
    });

    function liveUpdate(data, textStatus, jqXHR) {
        $('.search-results').html(data);
    }

    function getLeagueId(href) {
        href = href.substring(0, href.length - 1)
        return href.substr(href.lastIndexOf('/') + 1);
    }
</script>
{% elif league.phase == 'BID' %}
<script type="text/javascript">
    // Make sure that bids are greater than the current bid
    $(function() {
        $('#bid-input').keyup(function() {
            if ($('#bid-input').val() > {{ high_bid }}) {
                $('#submit-bid').html('<input type="submit" value="Bid" />');
            } else {
                $('#submit-bid').html(''); // you can't bid LOWER
            }
        });
    });
</script>
{% endif %}

{% if league.phase != 'PRE' %}
<script type="text/javascript">
    function responsivize() {
        if ($(window).width() <= 650) {
            var mobileHtml = '<p id="draft-header">Drafts</p><br>';
            
            // IF [results published]
            
            {% if draft_scores %}
            {% for draft, player_placings, score, bid in draft_scores %}
            mobileHtml += '<div class="row"><div class="col-6"><p>'
                    + "{{ draft.user }}'s draft (-{{ bid }}):<br>"
                    + 'Score: {{ score }}</p>'
                    + '<ul class="centered player-list">';
            
                {% for player, placing in player_placings %}
                mobileHtml += '<li>{{ player }} ({{ placing }})</li>';
                {% endfor %}
            
            mobileHtml += '</ul></div></div>';
            {% endfor %}
            
            // ELIF [results not published; bids]
            
            {% elif draft_data %}
            {% for draft, bid in draft_data %}
            mobileHtml += '<div class="row"><div class="col-6"><p>'
                    + "{{ draft.user }}'s draft (-{{ bid }}):</p>";
            
                {% if draft.players.count > 0 %}
                mobileHtml += '<ul class="centered player-list">';
                    
                    {% for player in draft.players.all %}
                    mobileHtml += '<li>{{ player }}</li>';
                    {% endfor %}
                    
                mobileHtml += '</ul>';
                
                {% else %}
                mobileHtml += '<div style="text-align: center; margin-top: 0.75vh;">There are no players in this draft.</div>';
                
                {% endif %}
                
            mobileHtml += '</div></div>';
            {% endfor %}
            
            // ELSE [results not published; no bids]
            
            {% else %}
            {% for draft in league.draft_set.all %}
            mobileHtml += '<div class="row"><div class="col-6"><p>'
                    + "{{ draft.user }}'s draft:</p>";
                
                {% if draft.players.count > 0 %}
                mobileHtml += '<ul class="centered player-list">';
                    
                    {% for player in draft.players.all %}
                    mobileHtml += '<li>{{ player }}</li>';
                    {% endfor %}
                    
                mobileHtml += '</ul>';
                
                {% else %}
                mobileHtml += '<div style="text-align: center; margin-top: 0.75vh;">There are no players in this draft.</div>';
            
                {% endif %}
                
            mobileHtml += '</div></div>';
            {% endfor %}
            
            {% endif %}
            
            $('#col-container').html(mobileHtml);
            $(window).off("resize");
        }
    }
    
    $(document).ready(function() {
        $(window).resize(responsivize);
        responsivize();
    });
</script>
{% endif %}
{% endcompress %}
{% endblock %}
