{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right header">
            <p><h1>Leagues</h1></p>
        </div>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
            {% if user.is_active %}
            {% for tournament, league, season_desc, is_ready in tournament_leagues %}
            <div class="col-2 bordered border-left">
                <p>
                    {{ tournament.name }}<br>
                    {{ season_desc }}<br>
                    
                    {% if league %}
                    <a href="/league/f/{{ league.id }}">{{ league.name }}</a>
                    
                    {% elif today_adj < tournament.date %}
                        {% if is_ready %}
                        <a href="{% url 'fantasy_draft:create_league' t_id=tournament.id %}">Create or join a league</a>
                        
                        {% else %}
                        Leagues cannot be created yet. Check back soon!
                        
                        {% endif %}
                    
                    {% else %}
                    {{ tournament.name }}: The tournament date has already passed.
                    
                    {% endif %}
                </p>
            </div>
            {% endfor %}
            
            {% else %}
            <div class="col-6 bordered border-left border-right">
                <p>You must activate your account before you can access this feature.</p>
            </div>
            
            {% endif %}
        {% else %}
        <div class="col-6 bordered border-left border-right">
            <p>You must be <a href="{% url 'fantasy_draft:login' %}">logged in</a> to create or edit leagues.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
