{% extends "fantasy_draft/header.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
{% compress css %}
<style type="text/css">
    .tname { font-family: 'Jura', sans-serif; font-size: 1.1em;}
    a.blue { color: #67c8ff; }
</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="grid-container" id="bigrid">
    <div class="row">
        <div class="col-6 header">
            <p><h1>Leagues</h1></p>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.is_active %}
        
        <!-- ========== TOURNAMENT LISTING ========== -->
        
        {% for tournament, league, season_desc, is_ready in tournament_leagues %}
            {% if forloop.counter0|divisibleby:3 %}
            <!-- 1st in the sequence -->
            <div class="row">
                <div class="col-2">
                    <p>
                        <span class="tname">{{ tournament.name }}</span><br>
                        {{ season_desc }}<br>
            
                        {% if league %}
                        <a href="/league/f/{{ league.id }}" class="blue">{{ league.name }}</a>
            
                        {% elif today_adj < tournament.date %}
                            {% if is_ready %}
                            <a href="{% url 'fantasy_draft:create_league' t_id=tournament.id %}" class="blue">Create or join a league</a>
                
                            {% else %}
                            <i>Leagues cannot be created yet. Check back soon!</i>
                
                            {% endif %}
            
                        {% else %}
                        <i>The tournament date has already passed.</i>
            
                        {% endif %}
                    </p>
                </div>
        
            {% elif forloop.counter|divisibleby:3 %}
            <!-- 3rd in the sequence -->
                <div class="col-2">
                    <p>
                        <span class="tname">{{ tournament.name }}</span><br>
                        {{ season_desc }}<br>
            
                        {% if league %}
                        <a href="/league/f/{{ league.id }}" class="blue">{{ league.name }}</a>
            
                        {% elif today_adj < tournament.date %}
                            {% if is_ready %}
                            <a href="{% url 'fantasy_draft:create_league' t_id=tournament.id %}" class="blue">Create or join a league</a>
                
                            {% else %}
                            <i>Leagues cannot be created yet. Check back soon!</i>
                
                            {% endif %}
            
                        {% else %}
                        <i>The tournament date has already passed.</i>
            
                        {% endif %}
                    </p>
                </div>
            </div>
        
            {% else %}
            <!-- 2nd in the sequence -->
                <div class="col-2">
                    <p>
                        <span class="tname">{{ tournament.name }}</span><br>
                        {{ season_desc }}<br>
            
                        {% if league %}
                        <a href="/league/f/{{ league.id }}" class="blue">{{ league.name }}</a>
            
                        {% elif today_adj < tournament.date %}
                            {% if is_ready %}
                            <a href="{% url 'fantasy_draft:create_league' t_id=tournament.id %}" class="blue">Create or join a league</a>
                        
                            {% else %}
                            <i>Leagues cannot be created yet. Check back soon!</i>
                
                            {% endif %}
            
                        {% else %}
                        <i>The tournament date has already passed.</i>
                        
                        {% endif %}
                    </p>
                </div>
        
            {% endif %}
        {% endfor %}
        
        {% else %}
        
        <!-- ========== "YOU NEED TO ACTIVATE..." ========== -->
        
        <div class="row">
            <div class="col-6">
                <p>You must activate your account before you can access this feature.</p>
            </div>
        </div>
        
        {% endif %}
    
    {% else %}
    
    <!-- ========== "YOU MUST BE LOGGED IN..." ========== -->
    
    <div class="row">
        <div class="col-6">
            <p>You must be <a href="{% url 'fantasy_draft:login' %}">logged in</a> to create or edit leagues.</p>
        </div>
    </div>
    
    {% endif %}
</div>
{% endblock %}

{% if user.is_authenticated and user.is_active %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

{% compress js %}
<script type="text/javascript">
    function responsivize() {
        if ($(window).width() <= 650) {
            // Generate mobile-friendly HTML
            var mobileHtml = '<div class="row"><div class="col-6 header"><p><h1>Leagues</h1></p></div></div>';
            
            {% if not user.is_authenticated %}
            mobileHtml += '<div class="row"><div class="col-6"><p>You must be <a href="'
                    + "{% url 'fantasy_draft:login' %}"
                    + '">logged in</a> to create or edit leagues.</p></div></div>';
            
            {% elif user.is_active %}
            {% for tournament, league, season_desc, is_ready in tournament_leagues %}
            mobileHtml += '<div class="row"><div class="col-6"><p>'
                    + '<span class="tname">{{ tournament.name }}</span><br>'
                    + '{{ season_desc }}<br>';

                {% if league %}
                mobileHtml += '<a href="/league/f/{{ league.id }}" class="blue">{{ league.name }}</a>';

                {% elif today_adj < tournament.date %}
                    {% if is_ready %}
                    mobileHtml += '<a href="' + "{% url 'fantasy_draft:create_league' t_id=tournament.id %}" + '" class="blue">Create or join a league</a>';
                    {% else %}
                    mobileHtml += '<i>Leagues cannot be created yet. Check back soon!</i>';
                    {% endif %}

                {% else %}
                mobileHtml += '<i>The tournament date has already passed.</i>';

                {% endif %}
    
            mobileHtml += '</p></div></div>';
            {% endfor %}
                
            {% else %}
            mobileHtml += '<div class="row"><div class="col-6"><p>You must activate your account before you can access this feature.</p></div></div>';
            
            {% endif %}
        
            $('#bigrid').html(mobileHtml);
            $(window).off("resize");
        }
    }
    
    $(document).ready(function() {
        $(window).resize(responsivize);
        responsivize();
    });
</script>
{% endcompress %}
{% endblock %}
{% endif %}
