{% extends "fantasy_draft/header_footer.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/input.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/responsive_text.css" %}" media="screen"/>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="error">
        {% if error_msg %}
        <div class="flashbox">
            <div class="error-text">{{ error_msg }}</div>
        </div>
        {% else %}
        <div class="flashbox-dummy"></div>
        {% endif %}
    </div>
    
    <span class="greeting">Welcome back to Fantasy SSBM!</span>
    
    <div class="form-wrapper">
        <form class="sized-form" method="post" action="/user_login/">
            {% csrf_token %}
            Username <a id="new-user" href="{% url 'fantasy_draft:register' %}">(New user?)</a></span> <input type="text" name="username" value="" maxlength="30" size="50" autofocus /><br>
            Password <input type="password" name="password" value="" maxlength="50" size="50" /><br>
            <input type="submit" class="btn-green" id="login-submit" value="Login" />
        </form>
    </div>
</div>
{% endblock %}
