{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>Rankings</h1></p>
        </div>
    </div>
    <div class="row bordered border-bottom">
        <div class="col-6 bordered border-left border-right">
            <p>
                Rankings from {{ date_1yr_ago }} to {{ date_now }} [PST]:
                <ol>
                    {% for player, score in sorted_ps %}
                    <li>{{ player }} (Score: {{ score }})</li>
                    {% empty %}
                    <li>There are no results in the database yet!</li>
                    {% endfor %}
                </ol>
            </p>
        </div>
    </div>
</div>
{% endblock %}
