{% extends "fantasy_draft/header.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/broganband.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/rankings.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/responsive_text.css" %}" media="screen"/>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row">
        <div class="col-6 header">
            <p><h1>Rankings</h1></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>From {{ date_1yr_ago }} to {{ date_now }} [PST]</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-5">
            <ol style="padding: 0 1.75%">
                {% for player, score in sorted_ps %}
                <li>{{ player }} (Score: {{ score }})</li>
                {% if forloop.last %}</ol>{% endif %}
                
                {% empty %}
                </ol><div style="text-align: center">Whoa! There are no results in the database!</div>
                
                {% endfor %}
        </div>
        <div class="col-1">
            <h2>Scoring System</h2>
            Players can earn points for each <a href="{% url 'fantasy_draft:info' %}">season tournament</a> that they participate in.
            <br><br>
            They are ranked by their average tournament score, multiplied by an activity bonus of (1 + 0.# tournaments attended).
            <br><br>
            For example, if John went to two tournaments and placed 1st and 2nd, he would be awarded an overall score of 640 * 1.2, or 768.
            <br><br>
            Tournament scores are given by the following table:
            <table class="scoring-table">
                <thead>
                    <tr><th>Placing</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><th>1st</th>   <td>670</td></tr>
                    <tr><th>2nd</th>   <td>610</td></tr>
                    <tr><th>3rd</th>   <td>555</td></tr>
                    <tr><th>4th</th>   <td>500</td></tr>
                    <tr><th>5th</th>   <td>450</td></tr>
                    <tr><th>7th</th>   <td>400</td></tr>
                    <tr><th>9th</th>   <td>355</td></tr>
                    <tr><th>13th</th>  <td>310</td></tr>
                    <tr><th>17th</th>  <td>270</td></tr>
                    <tr><th>25th</th>  <td>230</td></tr>
                    <tr><th>33rd</th>  <td>195</td></tr>
                    <tr><th>49th</th>  <td>160</td></tr>
                    <tr><th>65th</th>  <td>130</td></tr>
                    <tr><th>97th</th>  <td>100</td></tr>
                    <tr><th>129th</th>  <td>75</td></tr>
                    <tr><th>193rd</th>  <td>50</td></tr>
                    <tr><th>257th</th>  <td>30</td></tr>
                    <tr><th>385th</th>  <td>10</td></tr>
                    <tr><th>~</th>       <td>0</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
