{% extends "fantasy_draft/header_footer.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/broganband.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/rankings.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/responsive_text.css" %}" media="screen"/>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>Rankings</h1></p>
        </div>
    </div>
    <div class="row bordered border-bottom">
        <div class="col-5 bordered border-left">
            <p>
                Rankings from {{ date_1yr_ago }} to {{ date_now }} [PST]:
                <ol>
                    {% for player, score in sorted_ps %}
                    <li>{{ player }} (Score: {{ score }})</li>
                    {% empty %}
                    <li>There are no results in the database yet!</li>
                    {% endfor %}
                </ol>
            </p>
        </div>
        <div class="col-1 bordered border-right">
            <p>
                <h2>Scoring System</h2>
                Players will earn points for each <a href="{% url 'fantasy_draft:info' %}">season tournament</a> that they participate in.
                
                <table class="scoring-table">
                    <thead>
                        <tr>
                            <th>Placing</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1st</th>
                            <td>670</td>
                        </tr>
                        <tr>
                            <th><b>2nd</b></th>
                            <td>610</td>
                        </tr>
                        <tr>
                            <th><b>3rd</b></th>
                            <td>555</td>
                        </tr>
                        <tr>
                            <th><b>4th</b></th>
                            <td>500</td>
                        </tr>
                        <tr>
                            <th><b>5th</b></th>
                            <td>450</td>
                        </tr>
                        <tr>
                            <th><b>7th</b></th>
                            <td>400</td>
                        </tr>
                        <tr>
                            <th><b>9th</b></th>
                            <td>355</td>
                        </tr>
                        <tr>
                            <th><b>13th</b></th>
                            <td>310</td>
                        </tr>
                        <tr>
                            <th><b>17th</b></th>
                            <td>270</td>
                        </tr>
                        <tr>
                            <th><b>25th</b></th>
                            <td>230</td>
                        </tr>
                        <tr>
                            <th><b>33rd</b></th>
                            <td>195</td>
                        </tr>
                        <tr>
                            <th><b>49th</b></th>
                            <td>160</td>
                        </tr>
                        <tr>
                            <th><b>65th</b></th>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th><b>97th</b></th>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th><b>129th</b></th>
                            <td>75</td>
                        </tr>
                        <tr>
                            <th><b>193rd</b></th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th><b>257th</b></th>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th><b>385th</b></th>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th><b>~</b></th>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>
{% endblock %}
