{% if players %}
    <table class="centered">
        {% for player in players %}
        <tr>
            <th>{{ player }}</th>
            <td>
                <form style="display: inline" method="post" action="{% url 'fantasy_draft:select_player' draft_id=draft.id player_id=player.id %}">
                    {% csrf_token %}
                    <input class="condensed" type="submit" value="Select" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <span>No players found.</span>
{% endif %}
