{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right header">
            <p><h1>{{ user.username }}'s Profile</h1></p>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-6 bordered border-left border-right">
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
    <div class="row bordered border-bottom">
        <div class="col-6 bordered border-left border-right">
            <p>
                Leagues participated in:
                <ul>
                    {% for league, results_published in league_data %}
                    <li>
                        <a href="/league/f/{{ league.id }}">{{ league.name }}</a>
                        [{{ league.tournament }}{% if results_published %}<span style="color: #67c8ff;"> – Results Published</span>{% endif %}]
                    </li>
                    {% empty %}
                    <li>No leagues found!</li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}
