{% extends "fantasy_draft/header.html" %}
{% load compress %}
{% load staticfiles %}

{% block stylesheets %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/input.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/responsive_text.css" %}" media="screen"/>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="error">
        {% if error_msg %}
        <div class="flashbox">
            <div class="error-text">{{ error_msg }}</div>
        </div>
        {% else %}
        <div class="flashbox-dummy"></div>
        {% endif %}
    </div>
    
    <span class="greeting">Your journey begins here.</span>
    
    <div class="form-wrapper">
        <form class="sized-form" method="post" action="/register/">
            {% csrf_token %}
        
            <label>{{ user_form.username.label }}</label>
            {{ user_form.username }}
            <label>{{ user_form.email.label }}</label>
            {{ user_form.email }}
            <label>{{ user_form.password.label }}</label>
            {{ user_form.password }}
        
            <input type="submit" class="btn-green" value="Register" />
        </form>
    </div>
</div>
{% endblock %}
