{% if users %}
    <table class="centered">
        {% for user in users %}
        <tr>
            <th>{{ user.username }}</th>
            <td>
                <form style="display: inline" method="post" action="{% url 'fantasy_draft:invite' recipient_id=user.id league_id=league_id %}">
                    {% csrf_token %}
                    <input class="condensed" type="submit" value="Invite" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <span>No users found.</span>
{% endif %}
