{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/input.css" %}" media="screen" />
{% endblock %}

{% block content %}
<div class="content-container">
    <span class="greeting">Enter a name for your {{ t_name }} league!</span>
    
    <form class="sized-form" method="post" action="{% url 'fantasy_draft:create_league' t_id=t_id %}">
        {% csrf_token %}
        
        <label>{{ league_form.name.label }}</label>
        {{ league_form.name }}
        
        <input type="submit" class="btn-green" value="Create League" />
    </form>
</div>
{% endblock %}
