{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fantasy SSBM</title>

    {% block favicon %}
    <link rel="shortcut icon" type="image/png" href="{% static "fantasy_draft/images/favicon.ico" %}" />
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header_style.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer_style.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main_style.css" %}" media="screen" />
    {% endblock %}

    {% block javascript %}
    <script src="{% static "fantasy_draft/js/jquery-1.11.3.min.js" %}"></script>
    {% endblock %}
</head>
<body link="gray">
    <header id="header-wrapper">
        <div id="header-content">
            <ul class="nav">
                <li class="header-section">
                    <a href="{% url 'fantasy_draft:index' %}">Main</a>
                </li>
                <li class="header-section">
                    <a href="{% url 'fantasy_draft:players' %}">Player Rankings</a>
                </li>
                <li class="header-section">
                    <a href="#">Manage Drafts</a>
                </li>
                <li class="header-section">
                    <a href="{% url 'fantasy_draft:standings' %}">Standings</a>
                </li>
                <li class="header-section">
                    {% if user.is_authenticated %}
                    <a href="#" id="username">{{ user.username }}</a>
                    {% else %}
                    <a href="{% url 'fantasy_draft:loginreg' %}">Login/Register</a>
                    {% endif %}
                </li> <!-- /header-section -->
            </ul><!-- /nav -->
        </div><!-- /header-content -->
    </header><!-- /header-wrapper -->
    
    <div id="main-content-wrapper">
    {% block content %}
    {% endblock %}
    </div>

    <footer id="footer-wrapper">
        <!-- Top portion of the footer -->
        <div id="footer-top-wrapper">
            <div id="footer-top">
                <!-- Left half of the top row -->
                <div class="top-row">
                    <div class="top-row-title"><span>About</span></div>
                    <div class="top-row-info">
                          <p>This is a website tailored to manage Super Smash Bros: Melee fantasy drafts and leagues for the duration of major tournament seasons. The concept is simple: form a league with your friends, in which each person will choose a certain number of players for his/her draft. At the end of each tournament, everyone will receive points based on how well their players performed – come the season's finish, the person with the highest number of points wins!
                              <br><br>
                              For more details about the rules behind Fantasy SSBM (plus the tournament season listings), see <a href="#">here</a>.
                          </p>
                    </div>
                </div>
                
                <!-- Right half of the top row -->
                <div class="top-row">
                    <div class="top-row-title"><span>Contact</span></div>
                    <div class="top-row-info">
                        <p>Want to contribute – or complain? If you need someone to talk to (preferably about this website), feel free to contact the following site administrators:
                            <br><br>
                            <b>Owen Jow</b><br>
                            <a href="mailto:owen.jow01@gmail.com">owen.jow01@gmail.com</a><br>
                        </p>
                    </div><!-- /top-row-info -->
                </div><!-- /top-row -->
            </div><!-- /footer-top -->
        </div><!-- /footer-top-wrapper -->
        
        <!-- Bottom portion of the footer -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom">
                <div id="last-updated">
                    Last updated December 6th, 2015 by Owen Jow
                </div><!-- /last-updated -->
            </div><!-- /footer-bottom -->
        </div><!-- /footer-bottom-wrapper -->
    </footer><!-- /footer-wrapper -->
</body>
</html>
