{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header_style.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer_style.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main_style.css" %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/index.css" %}" media="screen"/>
    <link rel="stylesheet" href="{% static "fantasy_draft/flipclock/compiled/flipclock.css" %}"/>
{% endblock %}

{% block javascript %}
    <script src="{% static "fantasy_draft/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "fantasy_draft/flipclock/compiled/flipclock.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="opaque1"></div>
    <div class="clock" style="margin:2em;"></div>
	<script type="text/javascript">
		var clock;

		$(document).ready(function() {
            var currentDate = new Date();
            // To do: create a model for tournaments (incl. date) and use the date of the next tournament here
            var futureDate  = new Date("September 9, 2015 18:00:00");

		    // Calculate the difference in seconds between the future and current date
			var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

			clock = $('.clock').FlipClock(diff, {
				clockFace: 'DailyCounter',
				countdown: true
			});
		});
	</script>
        
    <div class="opaque2"></div>
    <div class="center-text">Currently under development! :)</div>
{% endblock %}