{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static "fantasy_draft/js/jquery-1.11.3.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>{{ league.name }}</h1></p>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-6 bordered border-left border-right">
            <p>
                Tournament: {{ league.tournament }}<br>
                Created on {{ league.date_created }} by {{ league.creator }}.
            </p>
        </div>
    </div>
    {% if league.phase != 'PRE' %}
    <div class="row">
        <div class="col-4 bordered border-left">
            <p>
                Drafts:
                <ul>
                    {% for draft in league.draft_set.all %}
                    <li>
                        {{ draft.user }}'s draft:
                        <ul>
                            {% for player in draft.players.all %}
                            <li>{{ player }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
        <div class="col-2 bordered border-right">
            {% if league.phase == 'BID' %}
                {% if user.is_authenticated and user == next_user %}
                    <p style="background-color: #67c8ff">
                        <u>It's your turn to bid!</u><br>
                        We're bidding for {{ auction_ordinal }} pick. The high bid is currently {{ high_bid }}, made by {{ high_bidder }}.
                    </p><br>
                        
                    The people still in are:
                    <ul>
                        {% for o in temp_orders %}
                        <li>{{ o.user }}</li>
                        {% endfor %}
                    </ul>
                    
                    {% if final_orders.count == 0 %}
                        No order has been determined yet.
                    {% else %}
                    <ol>
                        Currently, the order is:
                        
                        {% for o in final_orders %}
                        <li>{{ o.user }} ({{ o.number }})</li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                    
                    <br><br>
                    
                    <form method="post" action="{% url 'fantasy_draft:bid' league_id=league.id %}?next={% firstof request.path '/' %}">
                        {% csrf_token %}
                        How much do you want to bid?&nbsp; <input type="number" name="bid" value="" />&nbsp; 
                        <input type="submit" value="Bid" />
                    </form>
                    
                    <form method="post" action="{% url 'fantasy_draft:drop_out' league_id=league.id on_auction=on_auction %}?next={% firstof request.path '/' %}">
                        {% csrf_token %}
                        Or you can drop out of the bidding.&nbsp; <input type="submit" value="Fold" />&nbsp; 
                    </form>
                {% else %}
                    <p style="background-color: #67c8ff">
                        <u>It's the bidding phase!</u><br>
                        We're bidding for {{ auction_ordinal }} pick. The next user to bid is {{ next_user }} and the high bid is currently {{ high_bid }}, made by {{ high_bidder }}.
                        
                        <ol>
                            {% if final_orders.count == 0 %}
                                No order has been determined yet.
                            {% else %}
                                Currently, the order is:
                                
                                {% for o in final_orders %}
                                <li>{{ o.user }} ({{ o.number }})</li>
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </p>
                {% endif %}
            {% elif league.phase == 'SEL' %}
                {% if user.is_authenticated %}
                    {% if user == next_user %}
                    <p style="background-color: #67c8ff">
                        <u>Your Turn</u><br>
                        You have {{ ordinal }} pick.<br>
                        Enter Pick <input type="text" id="name_input" name="name_input" />
                        <div id="search-results">
                            {% if invite_sent %}
                            <p>Invitation successfully sent!</p>
                            {% else %}
                            <p>No players found.</p>
                            {% endif %}
                        </div>
                    </p>
                    {% else %}
                    <p>
                        <u>It's {{ next_user }}'s turn to pick!</u><br>
                        You have {{ ordinal }} pick. Go harass {{ next_user}} on all forms of social media.
                    </p>
                    {% endif %}
                {% else %}
                <p>
                    <u>It's {{ next_user }}'s turn to pick!</u><br>
                    Go harass {{ next_user }} on all forms of social media.
                </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% else %}
        <!-- Indent for visual effect -->
        <div class="row bordered">
            <div class="col-6 bordered border-left border-right">
                <p>
                    Users currently part of this league:
                    <ul>
                        {% for u in league.userprofile_set.all %}
                        <li>{{ u }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        <div class="row bordered border-bottom">
            <div class="col-6 bordered border-left border-right">
                <p>
                    {% if user.is_authenticated and league.creator == user %}
                    Invite users to join your league:&nbsp;
                    <input type="text" id="name_input" name="name_input" />
                    <div id="search-results">
                        {% if invite_sent %}
                        <p>Invitation successfully sent!</p>
                        {% else %}
                        <p>No users found.</p>
                        {% endif %}
                    </div>
                    {% else %}
                    You don't have permission to add users to the league!
                    {% endif %}
                </p>
            </div>
        </div>
        {% if user.is_authenticated and league.creator == user %}
        <div class="row bordered border-bottom">
            <div class="col-6 bordered border-left border-right">
                <p>
                    Activate the league (warning: this will lock in all players). 
                    <form style="text-align: center; margin-top: 1vh" method="post" action="{% url 'fantasy_draft:activate' league_id=league.id %}?next={% firstof request.path '/' %}">
                        {% csrf_token %}
                        <input type="submit" value="Activate" />
                    </form>
                </p>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>

<!-- Scripts -->
{% if league.phase == 'PRE' or league.phase == 'SEL' %}
<script type="text/javascript">
	// Ajax live search
    $(function() {
        $('#name_input').keyup(function() {
            $.ajax({
                type: "GET",
                {% if league.phase == 'PRE' %}
                url: "/user_search/" + getLeagueId(window.location.href),
                {% else %}
                url: "/player_search/" + getLeagueId(window.location.href),
                {% endif %}
                data: {
                    'name_input': $('#name_input').val(),
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                success: liveUpdate,
                dataType: 'html'
            });
        });
    });

    function liveUpdate(data, textStatus, jqXHR) {
        $('#search-results').html(data);
    }

    function getLeagueId(href) {
        href = href.substring(0, href.length - 1)
        return href.substr(href.lastIndexOf('/') + 1);
    }
</script>
{% endif %}
{% endblock %}
