{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static "fantasy_draft/js/jquery-1.11.3.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>{{ league.name }}</h1></p>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-6 bordered border-left border-right">
            <p>
                Tournament: {{ league.tournament }}<br>
                Created on {{ league.date_created }} by {{ league.creator }}.
            </p>
        </div>
    </div>
    {% if league.activated %}
    <div class="row bordered">
        <div class="col-6 bordered border-left border-right">
            <p>
                Drafts:
                <ul>
                    {% for draft in league.draft_set.all %}
                    <li>{{ draft.user }}'s draft: <a href="/league/{{ league.id }}/{{ draft.id }}">View</a></li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-6 bordered border-left border-right">
            <p>This league has been activated!</p>
        </div>
    </div>
    {% else %}
        <!-- Indent for visual effect -->
        <div class="row bordered">
            <div class="col-6 bordered border-left border-right">
                <p>
                    Users currently part of this league:
                    <ul>
                        {% for u in league.userprofile_set.all %}
                        <li>{{ u }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        <div class="row bordered border-bottom">
            <div class="col-6 bordered border-left border-right">
                <p>
                    {% if user.is_authenticated and league.creator == user %}
                    Invite users to join your league:&nbsp;
                    <input type="text" id="name_input" name="name_input" />
                    <div id="search-results">
                        {% if invite_sent %}
                        <p>Invitation successfully sent!</p>
                        {% else %}
                        <p>No users found.</p>
                        {% endif %}
                    </div>
                    {% else %}
                    You don't have permission to add users to the league!
                    {% endif %}
                </p>
            </div>
        </div>
        {% if user.is_authenticated and league.creator == user %}
        <div class="row bordered border-bottom">
            <div class="col-6 bordered border-left border-right">
                <p>
                    Activate the league (warning: this will lock in all players). 
                    <form style="text-align: center; margin-top: 1vh" method="post" action="{% url 'fantasy_draft:activate' league_id=league.id %}?next={% firstof request.path '/' %}">
                        {% csrf_token %}
                        <input type="submit" value="Activate" />
                    </form>
                </p>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>

<script type="text/javascript">
	// Ajax live search
    $(function() {
        $('#name_input').keyup(function() {
            $.ajax({
                type: "GET",
                url: "/user_search/" + getLeagueId(window.location.href),
                data: {
                    'name_input': $('#name_input').val(),
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                success: liveUpdate,
                dataType: 'html'
            });
        });
    });
    
    function liveUpdate(data, textStatus, jqXHR) {
        $('#search-results').html(data);
    }
    
    function getLeagueId(href) {
        href = href.substring(0, href.length - 1)
        return href.substr(href.lastIndexOf('/') + 1);
    }
</script>
{% endblock %}
