{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>Leagues</h1></p>
        </div>
        <div class="col-6 bordered border-left border-right">
            <p>
                {% if user.is_authenticated %}
                What would you like to do?
                <ul>
                    <li>Create a league</li>
                    <li>List leagues for each tournament</li>
                    <li>[ACTIVE] GENESIS 3: No league! Would you like to create one?</li>
                </ul>
                {% else %}
                You must be <a href="{% url 'fantasy_draft:login' %}">logged in</a> to create or edit drafts.
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
