{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>Leagues</h1></p>
        </div>
        <div class="col-6 bordered border-left border-right">
            <p>
                {% if user.is_authenticated %}
                <ul>
                    {% for tournament, league in tournament_leagues %}
                        {% if league %}
                        <li>{{ tournament.name }}: {{ league.name }}</li>
                        {% else %}
                        <li>{{ tournament.name }}: <a href="{% url 'fantasy_draft:create_league' t_id=tournament.id %}">CREATE LEAGUE</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                You must be <a href="{% url 'fantasy_draft:login' %}">logged in</a> to create or edit drafts.
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
