{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/loginreg.css" %}" media="screen"/>
{% endblock %}

{% block content %}
<div class="content-container">
    <span id="register-greeting">Your journey begins here.</span>
    
    <form id="loginreg-form" method="post" action="/register/">
        {% csrf_token %}
        <div class="form-centered">
            <label>{{ user_form.username.label }}</label>
            {{ user_form.username }}
        </div>
        
        <div class="form-centered">
            <label>{{ user_form.email.label }}</label>
            {{ user_form.email }}
        </div>
        
        <div class="form-centered">
            <label>{{ user_form.password.label }}</label>
            {{ user_form.password }}
        </div>
        
        <input type="submit" class="btn-green" value="Register" />
    </form>
</div>
{% endblock %}
