{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/header.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/footer.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/main.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "fantasy_draft/css/loginreg.css" %}" media="screen"/>
{% endblock %}

{% block content %}
<div class="content-container">
    <span id="register-greeting">Your journey begins here.</span>
    
    <form id="login-form" method="post" action="/user_login/">
        {% csrf_token %}
        Username <input type="text" name="username" value="" maxlength="30" size="50" />
        Email <input type="text" name="username" value="" maxlength="50" size="50" />
        Password <input type="password" name="password" value="" maxlength="50" size="50" />
        Confirm Password <input type="password" name="password" value="" maxlength="50" size="50" />
        <input type="submit" class="btn-green" value="Register" />
    </form>
</div>
{% endblock %}
