{% extends "fantasy_draft/header_footer.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container">
    <div class="row bordered border-top">
        <div class="col-6 bordered border-left border-right">
            <p><h1>Standings</h1></p>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-6 bordered border-left border-right">
            <p>
                {% if user.is_authenticated %}
                Not enough data!
                {% else %}
                You must be <a href="{% url 'fantasy_draft:login' %}">logged in</a> to view standings.
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
