.header-section                 { padding: 0% 4.85%; }
.header-section:hover .subnav   { visibility: visible; opacity: 1; }
ul.nav li                       { list-style-type: none; display: inline; float: left; }
ul.nav li a                     { font-size: 14px; color: #fefefa; display: block; line-height: 40px;
                                  padding: 0 12px; text-decoration: none; margin-top: -12px;
                                  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5); font-weight: 400; }
ul.nav li a:hover               { background-color: #494646; }

#header-wrapper                 { background: #221; font-family: 'Asap', sans-serif; 
                                  color: #C9C9C9; width: 100%; height: 40px; z-index: 1;
                                  font-size: 12px; position: fixed; top: 0px; left: 0px; right: 0px; }
#header-content                 { padding: 0% 6%; width: 100%; }
#username                       { color: #00ff00; }

@media screen and (max-width: 480px) {
    * {
        overflow: auto !important;
    }
    
    .header-section {
        padding: 0% 1.9%;
    }
}
