body {
    background: white url("../images/background.gif") no-repeat top;
    position: fixed;
}

.clock {
    position: fixed;
    left: 50%;
    top: 105px;
    margin-left: -100px;
}

.center-text {
    position: fixed;
    width: 100%;
    top: 300px;
    margin-left: -75px;
    margin-top: -25px; 
    font-family: 'Jura', sans-serif;
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}​
