@import url(http://fonts.googleapis.com/css?family=Asap:400,700|Jura:600);

li a                    { color: green; }
a 											{ color: #a2a0a0; }
body            				{ background: url("../images/background-tiltshift_1600x900.png") no-repeat top; 
                  				position: fixed; height: 100%; width: 100%; }

#main-wrapper           { font-size: 14px; line-height: 18px; 
                          font-family: 'Asap', sans-serif;
                          color: #555; overflow: hidden; }
#main-content-wrapper   { margin-top: 50px; min-height: 300px; }
