@import url(http://fonts.googleapis.com/css?family=Asap:400,700|Jura:600);

.header-section { 
    width: 20%;
}

.nav { 
    margin: 0px;
    padding: 0px;
}

ul.nav li { 
    list-style-type: none;
    display: inline;
    float: left;
    text-align: center;
}

ul.nav li .h-item, .h-item a { 
    font-size: 0.975vw;
    color: #fefefa;
    display: block;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

@media(max-width: 600px) {
    ul.nav li .h-item, .h-item a {
        line-height: 5.115vh;
    }
}

.h-item a {
    display: inline;
}

ul.nav li .h-item:hover { 
    background-color: #494646;
}

#header-wrapper { 
    background: #221;
    font-family: 'Asap', sans-serif;
    color: #C9C9C9;
    width: 100%;
    height: 40px;
    z-index: 1;
    position: fixed;
}

@media(max-width: 600px) {
    #header-wrapper {
        height: 5.115vh;
    }
}

#username {
    color: #67c8ff;
}
