.clock { 
    z-index: 1;
}

@media all and (max-width: 768px) {
  .clock {
    zoom: 0.6;
    -moz-transform: scale(0.6); } }
@media all and (max-width: 479px) {
  .clock {
    zoom: 0.45;
    -moz-transform: scale(0.45); } }

.opaque { 
    background-color: black;
    z-index: 0;
    opacity: 0.75;
    margin-top: 12vh;
}

@media(max-width: 600px) {
    .opaque {
        margin-top: 6vh;
    }
}

@media(max-width: 360px) {
    .opaque {
        margin-top: 2vh;
    }
}

.center-text { 
    font-family: 'Jura', sans-serif;
    color: #ffffff;
    font-size: 2.7em;
    font-weight: 900;
    text-align: center;
    line-height: 0.97em;
}​
                  
@media screen and (max-width: 480px) {
    body {
        background: url("../images/background-tiltshift_675x900.png") no-repeat top;
        background-size: cover;
    }
}

#main-content-wrapper {
    padding-bottom: 33.84vh;
}

#message {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#flashbox {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    border: 2px double #797979;
    text-align: center;
}

#flashbox-dummy {
    height: 30px;
}

#message-text {
    z-index: 1;
    color: white;
    text-shadow: 0 0 10px #ffde00;
    margin-top: 5px;
}
