@import url(http://fonts.googleapis.com/css?family=Asap:400,700|Jura:600);

/* Reset default margins and padding */
html {
    margin: 0;
    padding: 0;
}

a { 
    color: #a2a0a0;
}

body { 
    background: url("../images/background-tiltshift_1600x900.png") no-repeat top;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main-content-wrapper { 
    margin-top: 5.115vh;
    min-height: 300px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Asap', sans-serif;
    color: #fff;
    overflow: hidden;
}
