/* Reset default margins and padding */
html {
    margin: 0;
    padding: 0;
}

a, .gray {
    color: #a2a0a0;
}

body {
    background: url("../images/background-tiltshift_1600x900.png") no-repeat top;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main-content-wrapper {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Asap', sans-serif;
    color: #fff;
    position: fixed;
    top: 5.115vh;
    bottom: 33.84vh;
    overflow: auto;
}
