table.scoring-table {
    border: 1px solid white;
    width: 97%;
    text-align: center;
    margin-top: 1vh;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
}

tr:hover, tr:nth-child(1) {
    background-color: #464646;
}