/*!
 * Broganband v1.0
 * Responsive grid system designed for Fantasy SSBM by Owen Jow.
 */

h1 {
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 2.1em;
}

.grid-container {
    width: 100vw;
    display: table;
    border-spacing: 5.5px 1.9px;
    border-collapse: separate;
}

.grid-container * {
    box-sizing: border-box;
}

.row:nth-child(1) {
    margin-top: 7.9px;
}

.row:nth-last-child(1) {
    margin-bottom: 7.9px;
}

.row:before,
.row:after {
    content: "";
    clear: both;
    display: table-row;
}

[class*='col-'] {
    min-height: 1px;
    padding: 12px; /* gutter size */
    background-color: #000000;
    opacity: 0.7;
    float: none;
    display: table-cell;
    vertical-align: top;
}

[class*='col-'] > p {
    background-color: #464646;
    padding: 1px 0;
    margin: 0;
    text-align: center;
    color: white;
}

[class*='col-6'].header > p {
    padding: 5px 0;
}

.col-1 { width: 16.66vw; }
.col-2 { width: 33.33vw; }
.col-3 { width: 50vw; }
.col-4 { width: 66.664vw; }
.col-5 { width: 83.33vw; }
.col-6 { width: 100vw; }

@media all and (max-width: 800px) {
    .col-1 { width: 33.33vw; }
    .col-2 { width: 50vw; }
    .col-3 { width: 83.33vw; }
    .col-4 { width: 100vw; }
    .col-5 { width: 100vw; }
    .col-6 { width: 100vw; }

    .row .col-2:last-of-type {
        width: 100vw; 
    }

    .row .col-5 ~ .col-1 {
        width: 100vw; 
    }
}

@media all and (max-width: 650px) {
    .col-1 { width: 50vw; }
    .col-2 { width: 100vw; }
    .col-3 { width: 100vw; }
    .col-4 { width: 100vw; }
    .col-5 { width: 100vw; }
    .col-6 { width: 100vw; }
}
