form {
    display: inline-block;
}

input {
    margin: 5px 0;
    display: block;
    padding: 6px 6px;
    font-size: 0.975vmax;
    line-height: 1.42857143;
    color: #fff;
    background-color: #272727;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

@media(max-width: 600px) {
    input {
        margin: 1.5px 0;
    }
}

input:focus {
    outline: none;
    background-color: #464646;
}

input[type="submit"] {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    width: 14.9vmax;
    margin: 3.197vh auto;
}

@media(max-width: 600px) {
    input[type="submit"] {
        font-weight: 500;
        text-shadow: 0 0 5px #000000;
        padding: 4px 12px;
    }
    
    input[type="submit"]#login-submit {
        margin: 2.1px auto;
    }
}

.error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flashbox {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    border: 2px double #797979;
    text-align: center;
}

.flashbox-dummy {
    height: 34px;
}

.error-text {
    z-index: 1;
    color: white;
    text-shadow: 0 0 10px red;
    margin-top: 5px;
}

.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.greeting {
    font-family: 'Jura', sans-serif;
    font-size: 2.1vw;
    font-weight: 700;
    display: block;
    text-align: center;
    text-shadow: 1px 2px #000000;
    margin: 12vh auto 0px auto;
}

@media(max-width: 1200px) {
    .greeting {
        font-size: 2.65vw;
    }
}

@media(max-width: 1000px) {
    .greeting {
        font-size: 2.05vw;
    }
}

@media(max-width: 700px) {
    .greeting {
        font-size: 4.05vw;
    }
}

.form-wrapper {
    text-align: center;
}

.sized-form {
    margin: 3.836vh auto;
    text-align: left;
}

#main-content-wrapper {
    position: static;
}

#main-content-wrapper .content-container {
    width: 100%;
    height: 100%;
    font-family: 'Asap', sans-serif;
    color: white;
}

@media(max-width: 600px) {
    #main-content-wrapper .content-container {
        margin-top: 2.5vmin;
    }
}

#new-user {
    color: #67c8ff;
    font-size: 0.905vmax;
}

@media(max-width: 600px) {
    #new-user {
        font-size: 1.705vmax;
    }
}
