/* Reset default margins and padding */
html {
    margin: 0;
    padding: 0;
}

a, .gray {
    color: #a2a0a0;
}

a:link { 
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

body {
    background: url("../images/background-tiltshift_1600x900.png") no-repeat top fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1601px) {
    body {
        background: url("../images/background-tiltshift_2000x1125.png") no-repeat top fixed;
    }
}

@media only screen and (max-device-width: 480px) {
    body {
        background: url("../images/background-tiltshift_700x1125.png") no-repeat top fixed;
        background-size: cover;
    }
}

@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {
    body {
        background-position: 1px 0; /* fixes a Chrome bug that causes a 1px white line to appear on the right */
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.hipster-btn {
    color: #fff;
    background-color: #000000;
    border-color: #4cae4c;
    font-family: 'Asap', sans-serif;
}

#main-content-wrapper {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Asap', sans-serif;
    color: #fff;
    margin-top: 40px;
    overflow: auto;
}

@media(max-width: 600px) {
    #main-content-wrapper {
        margin-top: 26.13765px;
    }
}
